################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/bin/Release/net8.0
/Properties/PublishProfiles
/LubanAgent.csproj.user
/LubanAgentCli.csproj.user
/bin/Debug/net10.0/.luban-agent
/bin/Debug/net10.0
